<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST" action="">{% csrf_token %}
        {{ el_formulario1.as_p }}
    <input type="submit" value="Guardar">
    </form>
</body>
</html>